.gallery {
    text-align: center;
    padding: 100px 0;
    h3 {
        color: $title-text;
        font-family: $heading-font;
        font-weight: 400;
        font-size: 32px;
        margin-bottom: 44px;
    }
}

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 40px;
    img:hover {
        cursor: pointer;
        filter: brightness(0.5);
    }
}

@media screen and (max-width: 1300px) {
    .gallery__grid {
        grid-column-gap: 5px;
        img {
            width: 100%;
        }
    }
}


@media screen and (max-width: 1200px) {
    .gallery {
        padding: 50px 0;
    }
}

@media screen and (max-width: 768px) {
    .gallery__grid {
        grid-column-gap: 0;
        grid-template-columns: repeat(2, 1fr);
    }
}
