html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
} 

*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

img {
    display: block;
}

.wrapper {
    width: 1300px;
    margin: 0 auto;
}

.logo--main {
    height: 32.69px;
    width: 83.51px;
}

@media screen and (max-width: 1300px) {
    .wrapper {
        width: unset;
    }
    
}





