ul {
    list-style: none;
}
a {
    color: $white;
    font-family: $body-font;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

p {
    font-family: $body-font;
    font-size: 13px;
}