@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// Fonts
$body-font: "Roboto", sans-serif;
$heading-font: "Helvetica", sans-serif;

// Colors
$title-text: #222222;
$grey: #707070;
$grey-transparent: rgba(112, 112, 112, 0.3);
$body-text: #777777;
$highlight: #D4B254;
$highlight-hover: #C8A74B;
$white: #FFFFFF;
$white-transparent: rgba(255, 255, 255, 0.2);
