@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  cursor: pointer; }

img {
  display: block; }

.wrapper {
  width: 1300px;
  margin: 0 auto; }

.logo--main {
  height: 32.69px;
  width: 83.51px; }

@media screen and (max-width: 1300px) {
  .wrapper {
    width: unset; } }

ul {
  list-style: none; }

a {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 13px; }

header {
  position: relative;
  display: flex;
  justify-content: center; }

.header__navbar {
  display: inline-block;
  position: absolute;
  padding: 30px 0;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  z-index: 2; }

.header__navbar--container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__navbar--social {
  display: flex;
  justify-content: flex-start;
  width: 149px; }
  .header__navbar--social li {
    margin: 0 8px; }
    .header__navbar--social li:first-child {
      margin-left: 0; }
    .header__navbar--social li:nth-child(2) img {
      height: 13px;
      width: 13px; }
  .header__navbar--social img {
    height: 15px;
    width: 15px; }

.header__navbar--links {
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__navbar--links li:first-child {
    margin-left: 0; }
  .header__navbar--links li:last-child {
    margin-right: 0; }

.header__navbar--links-order {
  display: flex;
  justify-content: center;
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  width: 192px;
  padding: 18.5px 0; }
  .header__navbar--links-order img {
    height: 15px;
    width: 15px;
    margin-left: 10px; }
  .header__navbar--links-order:hover {
    background-color: #FFFFFF;
    color: #222222; }
    .header__navbar--links-order:hover img {
      filter: invert(1); }

.header__navbar--links-left {
  margin-left: 60px;
  margin-right: 128px; }
  .header__navbar--links-left li {
    margin: 0 22px; }

.header__navbar--links-right {
  margin-left: 136px;
  margin-right: 60px; }
  .header__navbar--links-right li {
    margin: 0 18px; }

.header__navbar--mobile {
  display: none; }

.header__navbar--mobile {
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 50px; }

.header__search-form {
  margin: 0 15px; }

.header__navbar--mobile__toggler {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background: none;
  outline: none !important;
  width: 30px;
  height: 30px;
  float: right; }
  .header__navbar--mobile__toggler span {
    display: block;
    position: absolute;
    top: 10px;
    height: 3px;
    min-height: 3px;
    width: 100%;
    border-radius: 2.5px;
    background-color: #D4B254; }
    .header__navbar--mobile__toggler span:before {
      top: -7px;
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      min-height: 3px;
      content: "";
      border-radius: 2.5px;
      background-color: #D4B254; }
    .header__navbar--mobile__toggler span:after {
      bottom: -7px;
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      min-height: 3px;
      content: "";
      border-radius: 2.5px;
      background-color: #D4B254; }

.header__column--right-mobile {
  position: absolute;
  top: 60px;
  right: 30px; }
  .header__column--right-mobile ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding-inline-start: 0; }
    .header__column--right-mobile ul li:first-child {
      margin-right: 25px; }

.header__navbar--mobile__menu {
  display: none;
  background: rgba(212, 178, 84, 0.8);
  margin-top: 50px;
  padding-top: 5px;
  margin-right: -50px;
  width: 100vw;
  border-radius: 2.5px;
  border: 1px solid #D4B254; }
  .header__navbar--mobile__menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 26px; }
    .header__navbar--mobile__menu a img {
      height: 23px;
      width: 23px;
      display: initial; }
  .header__navbar--mobile__menu ul {
    float: right;
    list-style: none; }

@media screen and (max-width: 1366px) {
  .header__navbar {
    display: none; }
  .header__navbar--mobile {
    display: block; } }

.intro {
  display: flex;
  flex-wrap: wrap; }

.intro__column {
  width: 50%; }
  .intro__column img {
    max-width: 100%; }
  .intro__column h2 {
    color: #222222;
    font-family: "Helvetica", sans-serif;
    font-size: 42px;
    font-weight: 400; }
  .intro__column h6 {
    color: #D4B254;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px; }
  .intro__column p {
    font-size: 15px;
    color: #777777;
    margin: 44px 0 40px 0;
    text-align: justify; }

.intro__column--right {
  display: flex;
  justify-content: center;
  align-items: center; }

.intro__column--right__content {
  margin: 0 17.5% 0 70px; }

@media screen and (max-width: 1200px) {
  .intro__column {
    width: 100%;
    background-image: url("../assets/intro-background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center; }
    .intro__column p {
      margin: 44px auto 40px auto;
      text-align: justify;
      width: 60%; }
  .intro__column--left {
    display: none; }
  .intro__column--right__content {
    margin: 40px auto; } }

@media screen and (max-width: 768px) {
  .intro__column--right__content h2 {
    font-size: 30px; } }

.gallery {
  text-align: center;
  padding: 100px 0; }
  .gallery h3 {
    color: #222222;
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 44px; }

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 40px; }
  .gallery__grid img:hover {
    cursor: pointer;
    filter: brightness(0.5); }

@media screen and (max-width: 1300px) {
  .gallery__grid {
    grid-column-gap: 5px; }
    .gallery__grid img {
      width: 100%; } }

@media screen and (max-width: 1200px) {
  .gallery {
    padding: 50px 0; } }

@media screen and (max-width: 768px) {
  .gallery__grid {
    grid-column-gap: 0;
    grid-template-columns: repeat(2, 1fr); } }

.slider__main {
  position: relative;
  height: 100vh; }
  .slider__main .slider__background {
    width: 100%;
    height: 100vh; }

.slider__main--buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex; }

.bar {
  width: 50px;
  height: 5px;
  border-radius: 2.5px;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
  background-color: #FFFFFF; }
  .bar:hover {
    background-color: #D4B254; }

.slider__main--slide {
  display: none; }

input[name="r"] {
  position: absolute;
  visibility: hidden; }

#r1:checked ~ .s1 {
  display: block; }

#r2:checked ~ .s2 {
  display: block; }

#r3:checked ~ .s3 {
  display: block; }

.cta {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 100%);
  text-align: center; }
  .cta h1 {
    color: #FFFFFF;
    font-family: "Helvetica", sans-serif;
    font-size: 52px;
    font-weight: 400;
    line-height: 58px;
    margin-bottom: 42px; }
  .cta h6 {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 18px; }

.testimonials {
  background-color: #EEEEEE;
  position: relative;
  height: 600px; }

.slider__testimonial {
  position: relative; }

.slider__testimonial--slide {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  text-align: center;
  padding: 115px 0; }
  .slider__testimonial--slide h2 {
    color: #222222;
    font-family: "Helvetica", sans-serif;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 0; }
  .slider__testimonial--slide h6 {
    color: #D4B254;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px; }
  .slider__testimonial--slide p {
    font-size: 18px;
    color: #777777;
    font-family: "Helvetica", sans-serif;
    margin: 75px auto 28px auto;
    line-height: 32px;
    width: 50%; }
  .slider__testimonial--slide .testimonial__author {
    font-size: 15px;
    color: #777777;
    font-family: "Roboto", sans-serif;
    margin: 0 auto 40px auto; }

.slider__testimonial--slide.current {
  opacity: 1; }

.slider-arrow__left {
  position: absolute;
  transform: translateY(400%);
  left: 15%;
  z-index: 2; }

.slider-arrow__right {
  position: absolute;
  transform: translateY(400%);
  right: 15%;
  z-index: 2; }

@media screen and (max-width: 1366px) {
  .slider__main {
    height: unset; }
    .slider__main .slider__background {
      height: unset; }
  .cta {
    transform: translate(-50%, 50%); } }

@media screen and (max-width: 1200px) {
  .testimonials {
    height: 540px; }
  .slider__testimonial--slide {
    padding: 56px 0; } }

@media screen and (max-width: 1152px) {
  .cta {
    transform: translate(-50%, 25%); } }

@media screen and (max-width: 992px) {
  .cta {
    transform: translate(-50%, 25%); } }

@media screen and (max-width: 900px) {
  .testimonials {
    height: 600px; }
  .cta {
    transform: translate(-50%, 25%); }
    .cta h6 {
      font-size: 12px;
      width: max-content;
      margin-bottom: 4px; }
    .cta h1 {
      font-size: 40px;
      margin-bottom: 20px;
      line-height: 48px; } }

@media screen and (max-width: 768px) {
  .cta {
    transform: translate(-50%, 100%); }
    .cta h6, .cta h1 {
      display: none; }
  .slider__testimonial--slide h2 {
    font-size: 30px; }
  .slider__testimonial--slide p {
    margin: 37px auto 28px auto; }
  .slider-arrow__left {
    transform: translateY(300%); }
  .slider-arrow__right {
    transform: translateY(300%); } }

@media screen and (max-width: 600px) {
  .slider-arrow__left {
    left: 5%; }
  .slider-arrow__right {
    right: 5%; } }

@media screen and (max-width: 498px) {
  .cta {
    transform: translate(-50%, 50%); } }

@media screen and (max-width: 460px) {
  .slider__main--buttons {
    display: none; } }

button {
  border: 0;
  outline: 0;
  cursor: pointer; }

.button {
  border-radius: 30px;
  background-color: #D4B254;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0 55px;
  height: 60px; }
  .button:hover {
    background-color: #C8A74B; }

@media screen and (max-width: 600px) {
  .button {
    padding: 0 15px;
    height: 40px; } }

footer {
  background-image: url("../assets/footer-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 60px; }

.footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 40px; }
  .footer__logo span {
    position: relative; }
    .footer__logo span img {
      margin: 0 18px; }
  .footer__logo span:after,
  .footer__logo span:before {
    content: "";
    position: absolute;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    top: 1em; }
  .footer__logo span:before {
    width: 590px;
    right: 100%; }
  .footer__logo span:after {
    width: 590px;
    left: 100%; }

.footer__navbar {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px; }

.footer__navbar--column {
  margin-top: 44px; }
  .footer__navbar--column h4 {
    color: #FFFFFF;
    font-family: "Helvetica", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 44px; }

.footer__navbar--column-social {
  display: flex; }
  .footer__navbar--column-social li {
    margin-right: 14px; }

.footer__navbar--link {
  margin-bottom: 20px; }
  .footer__navbar--link a {
    opacity: 0.8;
    margin-bottom: 20px; }

.footer__copyright {
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 44px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .footer__copyright p {
    opacity: 0.5;
    margin-bottom: 16px; }

.footer__navbar--column-social__small {
  display: none; }
  .footer__navbar--column-social__small h4 {
    color: #FFFFFF;
    font-family: "Helvetica", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 44px; }

@media screen and (max-width: 600px) {
  .footer__navbar {
    text-align: center; }
  .footer__navbar--column-last {
    display: none; }
  .footer__navbar--column-social__small {
    display: flex;
    justify-content: space-evenly; } }

@media screen and (max-width: 460px) {
  .footer__navbar--link a {
    font-size: 11px; } }

@media screen and (max-width: 320px) {
  .footer__navbar--link a {
    font-size: 10px; }
  .footer__copyright p {
    font-size: 11px; } }
